
<div class="text-left padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [:parklord, @parking_spot] do |f| %>
        <%= f.error_notification %>
        <%= f.input :title, as: :text %>
        <%= f.input :description, as: :text%>
        <%= f.input :size, :collection => ParkingSpot::SIZES %>
        <%= f.input :price_per_day %>
        <%= f.simple_fields_for :address do |ff| %>
          <%= ff.input :street_number %>
          <%= ff.input:street_name %>
          <%= ff.input :zip_code %>
          <%= ff.input :city %>
          <%= ff.country_select :country %>
        <% end %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>


