<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
          <h3 class="panel-title">User Profile</h3>
        </div>
        <%= cl_image_tag @user.photo, :class => "avatar-big" %>
        <h2><%= @user.username %></h2>
        <p><%= @user.first_name %> <%= @user.last_name %></p>
        <p><%= @user.date_of_birth %></p>
        <p><%= @user.bio %></p>
        <p><%= @user.phone_number %></p>
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning" %>
        <%= link_to "Delete profile", parking_spots_path, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
      </div> <!-- end panel -->
      </div>
      <div class="col-sm-6">
      <div class="panel panel-default">
          <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Bookings</h3>
          </div>
          <h3>Hello world!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <!-- bookings.all -->
        </div> <!-- end panel -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
          <h3 class="panel-title">Parking Spots</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">first booking</li>
            <li class="list-group-item">second bookings</li>
            <li class="list-group-item">third booking</li>
            <li class="list-group-item">........</li>
            <li class="list-group-item">...........</li>
            <li class="list-group-item">..........</li>
          </ul>
        </div>
      </div> <!-- end panel -->
      <div class="col-sm-6">
      <div class="panel panel-default">
          <div class="panel-heading main-color-bg">
            <h3 class="panel-title">History</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">first booking</li>
            <li class="list-group-item">second bookings</li>
            <li class="list-group-item">third booking</li>
            <li class="list-group-item">........</li>
            <li class="list-group-item">...........</li>
            <li class="list-group-item">..........</li>
          </ul>
          <!-- bookings.all -->
        </div> <!-- end panel -->
      </div>
    </div>
  </div>
