<div class="col-sm-6">
  <div class="text-center padded">
    <h4>Book</h4>
    <% if account_signed_in? %>

   <%= simple_form_for @booking do |f| %>
    <%= f.input :start_date, as: :date, start_year: Date.today.year,
    end_year: Date.today.year + 2,
    order: [:day, :month, :year]%> <br>
    <%= f.input :end_date, as: :date, start_year: Date.today.year,
    end_year: Date.today.year + 2,
    order: [:day, :month, :year] %> <br>

    <%= f.input_field :parking_spot_id, as: :hidden,  value: @parking_spot.id %>



    <%= f.button :submit, "Inquire booking", class: "btn btn-success" %>
   <% end %>

    <% else %>
    <%= link_to t(".sign_in", default: "Login"), new_account_session_path, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
