<!-- ParkingSpot#index -->
<!-- <p>Find me in app/views/parking_spot/index.html.erb</p>
 -->

<div class="text-center padded">
    <% @parking_spots.each do |parking_spot|%>
      <%= link_to parking_spot_path(parking_spot) do %>
      <h4> <%= parking_spot.title %></h4>
        <%= cl_image_tag parking_spot.photo, height: 300, width: 400, crop: :fill %>
        <% end %>
        <h4>Size - <%= parking_spot.size %> </h4>
        <h4><%= parking_spot.address.full_address %></h4>
        <h4> ‎€ <%= parking_spot.price_per_day %></h4>
      </div>
    </div>
<% end %>

 <%= render 'shared/map' %>



