<p>Your search results are:</p>

<div class="text-center padded">
    <% @parking_spots.each do |parking_spot|%>
      <ol>
        <h1><%= parking_spot.title %></h1>
        <%= cl_image_tag parking_spot.photo, height: 300, width: 400, crop: :fill %>
        <h4>Size - <%= parking_spot.size %> </h4>
        <h4><%= parking_spot.address.full_address %></h4>
        <h4> ‎€ <%= parking_spot.price_per_day %></h4>
      </ol>
      </div>
    </div>
<% end %>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
