<% content_for :title, "Sir Parks a Lot - Make parking fun again" %>

<p>Your search results are:</p>

<div class="text-center padded">
    <% @parking_spots.each do |parking_spot|%>
      <ol>
        <h1><%= parking_spot.title %></h1>
        <%= cl_image_tag parking_spot.photo, height: 300, width: 400, crop: :fill %>
        <h4>Size - <%= parking_spot.size %> </h4>
        <h4><%= parking_spot.address.full_address %></h4>
        <h4> ‎€ <%= parking_spot.price_per_day %></h4>
      </ol>
      </div>
    </div>
<% end %>

<%= render 'shared/map' %>
