<h1>ParkingSpot#show</h1>
<p>Find me in app/views/parking_spot/show.html.erb</p>

<%= cl_image_tag @parking_spot.photo, height: 300, width: 400, crop: :fill %>
<h4><%= @parking_spot.id %> </h4>
<h4><%= @parking_spot.size %> </h4>
<h4><%= @parking_spot.address %></h4>
<h4><%= @parking_spot.price_per_day %></h4>


<div id="map" style="width: 100%; height: 600px;"></div>

<h4>Parklord details</h4>
<%= @parking_spot.user.first_name %> <%= @parking_spot.user.last_name %>
<%= @parking_spot.user.bio %>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<!-- would be nice to have description but need as attribute in schema   -->
<!-- we don't have name - do we need one? -->
<!-- add rating here -->
